*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

#home{
    background-image: url(/images/desktop/image-hero.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 75vh;

}

/* header #nav {
    display: flex;
    justify-content: end;

} */


#home p{
 
    font-size: 50px;
    padding: 50px;
    text-transform: uppercase;
    font-family: Courier ;
    color: white;
    border: 2px solid white;
  
   
}

.home-text{
    width: 400px;
    padding-top: 50px;



}
/*----------------------- section1 -------------------*/
#section1{
    display: flex;
    justify-content: center;
    padding-top: 100px;

    height: 100vh;
  


}


#section1 .img {
    padding-top: 100px;
    

}
#section1 .img img{
    width: 100%;
    height: 400px;
    
}
#section1 .text{
    width: 50%;
    height: 300px;
    background-color: white;
    position: relative;
    padding: 50px;
    top: 260px;
    right: 100px;
}

#section1 .text h3{
    font-size: 50px;
    text-transform: uppercase;
}


/*----------------------- section2 -------------------*/
#section2{
    height: 140vh;
   margin: auto;
  
}
#section2 .card-img img{
    width: 98%;

   
  
    
}



.card-img p{
    color: white;
    position: relative;
    bottom: 70px;
    left: 20px;
    font-size: 20px;
}
.h-sec2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
}

/*---------------------------- footer ------------------------*/
footer{
    color: white;
    display: flex;
    align-items: end;
    height: 40vh;
    padding-bottom: 30px;
   

}
footer .container{
    display: flex;
    justify-content: space-between;
}

footer .foter2{
    text-align: right;
}
footer .foter1 a{
    padding-right: 10px;

}
footer .foter2 p{
    padding-top: 10px;
}